nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.mainmenu {
  display: flex;
  align-items: center;
}

.mainmenu > li > a {
  font-weight: 600;
  color: black;
  padding: 8px 16px;
}

.mainmenu > li > a:hover {
  border-bottom: 4px solid black;
}

.active {
  border-bottom: 4px solid black;
}
