.social {
  text-align: center;
}

.social > a {
  border: none;
  appearance: none;
  margin-inline: 14px;
  color: #333;
}

.social > a:hover {
  color: #000;
}

.social > a > .icons {
  font-size: 22px;
}
